*.log
*.pot
*.pyc
local_settings.py
_local_settings.py
.DS_Store
Icon?
.sass-cache
*.pid
*.db
.idea
*.sql.gz
*.csv
*.rdb

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
ssl
logs

feedbackmachine
