{% extends 'base.html' %}

{% block assets %}
<script type='text/javascript' src='{{ STATIC_URL }}js/demo.js'></script>
{% endblock %}

{% block pagespecific_js %}
<script type='text/javascript'>
var bootstrap = {
  'event_id': {{ event.id }}
}
</script>
{% endblock %}

{% block content %}
<header class='bar-title'>
  <a class='button-prev' href="{% url index %}" data-transition='slide-out'>All demos</a>
  <h1 class='title'>{{ demo.title }}</h1>
  <a class='button-next' href='{{ current_demo.get_absolute_url }}' data-transition='slide-in' id='current_demo'>Current Demo</a>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class='content'>

  <div class='media content-padded'>
    <div class='pull-left'>
      <img class='media-object' src='http://placehold.it/64x64' />
    </div>
    <div class='media-body'>
      <h4 class='media-heading'>{{ demo.presenter }}</h4>
      <p>
        {{ demo.email }}<br />
        @<a href='http://twitter.com/{{ demo.twitter }}'>{{ demo.twitter }}</a>
      </p>
    </div>
  </div>

  <div class='content-padded'>
    <p class='demo-description'>
      {{ demo.description }}<br />
      {{ demo.url }}
    </p>
  </div>

  <div class='content-padded'>
    <form id='comment_create'>
      <input type='hidden' name='demo_id' value='{{ demo.id }}' />
      <textarea name='content' rows='5'></textarea>
      <button type='submit' class='button button-block' id='comment_submit'>
        Submit feedback
      </button>
    </form>
  </div>

</div>
{% endblock %}
